@mixin family {
  font-family: 'Roboto', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.comments {
  margin-top: 55px;
  background: white;

  &__wrapper {
    width: 640px;
    padding-top: 30px;
    margin: 0 auto;
  }

  &__length {
    font-weight: bold;
    font-family: 'Roboto', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
  }
}

.button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  background: none;
  @include family;
  color: #686868;
  font-size: 15px;
}

.border {
  height: 2px;
  background: #e9e9e9;

  &__active {
    height: 2px;
    width: 150px;
    background: #1e90ff;
  }
}

.button {
  &__order {
    transform: translateX(150px);
    transition: 0.4s;
  }

  &__popular {
    transform: translateX(0);
    transition: 0.4s;
  }
}
