@mixin family {
  font-family: 'Roboto', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper__post {
  width: 100%;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}

.post {
  width: 640px;
  margin-top: 30px;

  &__header {
    margin: 0 auto;
  }

  &__title {
    @include family;
    cursor: pointer;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 13px;
    padding-top: 25px;
  }

  &__img {
    width: 100%;
    cursor: pointer;
  }

  &__description {
    @include family;
    cursor: pointer;
    padding: 0 20px;
    margin-bottom: 30px;
  }
}
