@mixin family {
  font-family: "Roboto", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.wrapper__post {
  width: 100%;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  padding: 20px;
}

.post {
  width: 640px;
  margin-top: 30px;

  &__header {
    margin: 0 auto;
  }

  &__title {
    @include family;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 13px;
    font-size: 35px;
  }

  &__img {
    width: 100%;
    cursor: pointer;
  }

  &__description {
    @include family;
    cursor: pointer;
    font-size: 17px;
    line-height: 30px;
  }

  &__text {
    @include family;
    word-wrap: break-word;
    margin-bottom: 15px;
  }
}
