.img__arrow {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.comments__title {
  font-family: 'Roboto', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;

  &__block {
    height: 74px;
    display: flex;
    align-items: center;
  }
}

.side__comments {
  width: 340px;

  &__title__block {
    cursor: pointer;
  }
}

.hidden__comments {
  transform: translate(170px, 200px) rotate(90deg);
}
