.leftSide {
  height: 100%;
  width: 220px;
  position: sticky;
  top: 60px;
  background-color: #f0f0f0;
  overflow-x: hidden;
  padding-top: 20px;
}

.content {
  margin-top: 60px;
}

.height100 {
  height: 100%;
}

.rightSide {
  margin-top: 60px;
  width: 450px;
  position: sticky;
  top: 60px;
  background-color: #f0f0f0;
  overflow-x: hidden;
  padding-top: 20px;
}

.main__layout {
  display: flex;
  justify-content: space-between;
}
