@mixin family {
  font-family: 'Roboto', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.auth__modal {
  position: absolute;
  overflow-y: overlay;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);

  &__wrapper {
    background: white;
    padding: 40px 80px;
    padding-bottom: 0;
    width: 450px;
    height: 360px;
    border-radius: 15px;
  }
}

.header {
  &__text {
    @include family;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.body {
  &__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 290px;
  }

  &__vk {
    margin-bottom: 15px;
  }

  &__google {
    margin-bottom: 15px;
  }
}

.btns {
  background: none;
  height: 48px;
  @include family;
  cursor: pointer;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), inset 0 0 0 1px rgb(0 0 0 / 6%),
    inset 0 -1px 0 rgb(0 0 0 / 12%), inset 1px 0 0 rgb(0 0 0 / 6%), inset -1px 0 0 rgb(0 0 0 / 6%);
  border-radius: 8px;
  display: flex;
  padding: 5px 20px;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
}

.img {
  &__button {
    width: 24px;
    height: 24px;
  }

  &__twitter {
    margin-left: 15px;
  }

  &__apple {
    margin-left: 15px;
  }
}

.button__text {
  margin-left: 10px;
  margin: 0 auto;
}

.bottom {
  &__buttons {
    display: flex;
    margin-top: 17px;
  }

  &__button {
    width: 100px;
    display: flex;
    justify-content: center;
  }
}

.arrow__back {
  width: 24px;
  height: 24px;
  margin-right: 15px;
  cursor: pointer;
}

.login {
  &__register__form {
    height: 50px;
    width: 100%;
    border: 0;
    background: #f5f5f5;
    border-radius: 8px;
    outline: none;
    padding: 0 20px;
    font-size: 17px;
  }

  &__password {
    margin-top: 15px;
  }

  &__fullName {
    margin-bottom: 15px;
  }

  &__register__button {
    background-color: #4683d9;
    cursor: pointer;
    width: 100%;
    color: white;
    height: 48px;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 17px;
  }
}

.form__block {
  margin-top: 23px;
}

.register {
  &__button {
    background: none;
    color: #3766a9;
    margin-top: 25px;
    font-size: 15px;
    cursor: pointer;
  }

  &__button:hover {
    color: red;
    transition: 0.2s;
  }
}

.errorInput {
  border: 1px solid #ff0a0a;
}
